<suite name="Amazon Test Suite" verbose="1" thread-count="1" annotations="JDK" parallel="tests">
	<test name="HomePageTest">
		<classes>
			<class name="com.ecom.werbapp.test.AmazonHomePageTest"></class>
			<class name="com.ecom.werbapp.test.AmazonNavigationTest"></class>
		</classes>
	</test>
</suite>